# Extracting Stock Data Using a Web Scraping

### 1. extracting data using BeautifulSoup

In [1]:
!pip install pandas
!pip install requests
!pip install bs4
!pip install html5lib
!pip install lxml
!pip install plotly

Requirement already satisfied: pandas in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: requests in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.6.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (from requests) (2025.11.12)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: bs4 in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4->bs4) (2.5)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (from html5lib) (0.5.1)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: lxml in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (6.0.2)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting plotly
  Downloading plotly-6.5.0-py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (from plotly) (1.34.1)
Requirement already satisfied: packaging in c:\users\pavan b\appdata\local\programs\python\python312\lib\site-packages (from plotly) (23.2)
Downloading plotly-6.5.0-py3-none-any.whl (9.9 MB)
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   - -------------------------------------- 0.3/9.9 MB ? eta -:--:--
   -- ------------------------------------- 0.5/9.9 MB 989.2 kB/s eta 0:00:10
   -- ------------------------------------- 0.5/9.9 MB 989.2 kB/s eta 0:00:10
   --- ------------------------------------ 0.8/9.9 MB 1.0 MB/s eta 0:00:09
   ----- ---------------------------------- 1.3/9.9 MB 1.2 MB/s eta 0:00:08
   ------ --------------------------------- 1.6/9.9 MB 1.2 MB/s eta 0:00:07
   ------- -------------------------------- 1.8/9.9 MB 1.3 MB/s eta 0:00:07
   -------- ------------------------------- 2.1/9.9 MB 1.3 MB/s eta 0:00:06
   ---------- ----------------------------- 2.6/9.9 MB 1.4 MB/s eta 0:00:06
   ------------ --------------------------- 3.1/9.9 MB 1.5 MB/s eta 0:00:05
   ------------- -------------------------- 3.4/9.9 MB 1.5 MB/s eta 0:00:05
   --------------- ------------------------ 3.9/9.9 MB 1.6 MB/s eta 0:00:04
   ------------------- -------------------- 4.7/9.9 MB 1.7 MB/s eta 0:00:03
   --------------------- ------------------ 5.2/9.9 MB 1.8 MB/s eta 0:00:03
   ----------------------- ---------------- 5.8/9.9 MB 1.9 MB/s eta 0:00:03
   -------------------------- ------------- 6.6/9.9 MB 2.0 MB/s eta 0:00:02
   ---------------------------- ----------- 7.1/9.9 MB 2.1 MB/s eta 0:00:02
   ------------------------------- -------- 7.9/9.9 MB 2.1 MB/s eta 0:00:01
   ---------------------------------- ----- 8.7/9.9 MB 2.2 MB/s eta 0:00:01
   ------------------------------------- -- 9.2/9.9 MB 2.3 MB/s eta 0:00:01
   ---------------------------------------  9.7/9.9 MB 2.3 MB/s eta 0:00:01
   ---------------------------------------- 9.9/9.9 MB 2.3 MB/s eta 0:00:00
Installing collected packages: plotly
Successfully installed plotly-6.5.0

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

**warnings**

In [3]:
import warnings
warnings.filterwarnings("ignore",category = FutureWarning)

We will extract Netflix stock data [https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html).

 Steps for extracting the data
1. Send an HTTP request to the web page using the requests library.
2. Parse the HTML content of the web page using BeautifulSoup.
3. Identify the HTML tags that contain the data you want to extract.
4. Use BeautifulSoup methods to extract the data from the HTML tags.
5. Print the extracted data

In [4]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

In [8]:
data = requests.get(url).text
print(data[:100])

<!DOCTYPE html><html id="atomic" class="NoJs chrome desktop" lang="en-US"><head prefix="og: http://o

In [9]:
soup = BeautifulSoup(data,'html.parser')

In [46]:
#creating empty data frame

netflix_data = pd.DataFrame(columns = ['Date',"Open","High","Low",'Close','Adj Close','Volume'])

In [24]:
len(soup.find_all("tr"))

72

In [25]:
len(soup.find("tbody").find_all("tr"))

70

In [47]:
# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    #we append the data of each row to table
    netflix_data = pd.concat([netflix_data,pd.DataFrame({'Date':[date],'Open':[open],'High':[high],'Low':[low],'Close':[close],'Adj Close':[adj_close],'Volume':[volume]})])

In [48]:

netflix_data.head()

           Date    Open    High     Low   Close Adj Close       Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21    528.21   78,560,600
0  May 01, 2021  512.65  518.95  478.54  502.81    502.81   66,927,600
0  Apr 01, 2021  529.93  563.56  499.00  513.47    513.47  111,573,300
0  Mar 01, 2021  545.57  556.99  492.85  521.66    521.66   90,183,900
0  Feb 01, 2021  536.79  566.65  518.28  538.85    538.85   61,902,300

### 2. Extracting data using pandas library

In [51]:
read_html_pandas_data = pd.read_html(url)

#or we can use below code
#read_html_pandas_data = pd.read_html(str(soup))

In [52]:
netflix_df = read_html_pandas_data[0]
netflix_df.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

Exercise

In [53]:
html_data = requests.get("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html").text

In [54]:
data = BeautifulSoup(html_data,"html.parser")

In [61]:
data.title.string

'Amazon.com, Inc. (AMZN) Stock Historical Prices & Data - Yahoo Finance'

In [65]:
amazon_df = pd.DataFrame(columns = ['Date','Open','High','Low','Close','Adj Close','Volume'])
for row in data.find('tbody').find_all('tr'):
    col = row.find_all('td')
    open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    date = col[0].text
    amazon_df = pd.concat([amazon_df,pd.DataFrame({'Date':date,'Open':[open],'High':[high],'Low':[low],'Close':[close],'Adj Close':[adj_close],'Volume':[volume]})])

In [66]:
amazon_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,"Jan 01, 2021","3,270.00","3,363.89","3,086.00","3,206.20","3,206.20","71,528,900"
0,"Dec 01, 2020","3,188.50","3,350.65","3,072.82","3,256.93","3,256.93","77,556,200"
0,"Nov 01, 2020","3,061.74","3,366.80","2,950.12","3,168.04","3,168.04","90,810,500"
0,"Oct 01, 2020","3,208.00","3,496.24","3,019.00","3,036.15","3,036.15","116,226,100"
0,"Sep 01, 2020","3,489.58","3,552.25","2,871.00","3,148.73","3,148.73","115,899,300"
...,...,...,...,...,...,...,...
0,"May 01, 2016",663.92,724.23,656.00,722.79,722.79,"90,614,500"
0,"Apr 01, 2016",590.49,669.98,585.25,659.59,659.59,"78,464,200"
0,"Mar 01, 2016",556.29,603.24,538.58,593.64,593.64,"94,009,500"
0,"Feb 01, 2016",578.15,581.80,474.00,552.52,552.52,"124,144,800"
0,"Jan 01, 2016",656.29,657.72,547.18,587.00,587.00,"130,200,900"

In [67]:
amazon_df.head()

           Date      Open      High       Low     Close Adj Close       Volume
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20  3,206.20   71,528,900
0  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93  3,256.93   77,556,200
0  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04  3,168.04   90,810,500
0  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  3,036.15  116,226,100
0  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  3,148.73  115,899,300

In [69]:
amazon_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [72]:
amazon_df.tail(1)['Open']

0    656.29
Name: Open, dtype: object